/* Services container - allowing vertical scrolling */
#services {
  margin: 0;
  height: 100vh; /* Height of the viewport */
  overflow-y: auto; /* Enable vertical scrolling inside the container */
  position: relative;
  background-color: white;
  overflow-x: hidden;

  -ms-overflow-style: none; /* For Internet Explorer and Edge */

} /* Hide scrollbar for WebKit-based browsers (Chrome, Safari) */
#services::-webkit-scrollbar {
  display: none;
}

/* Card container styling */
.card_container {
  height: 100vh; /* Full height of the viewport for each card container */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Service card styling */
.service_card {
  border: 1px solid yellow;
  background-color: yellow;
  transition: all 0.3s ease; 
  position: relative;
  z-index: 100;
}
.cardL{
  border-radius: 16px;
  width: 30%;
  height: 80%;
  scale: 0.8;
  position: absolute;
  left: 0;
  background-color: red;
}
 .cardR{
  border-radius: 16px;
  width: 30%;
  height: 80%;
  scale: 0.8;
  position: absolute;
  right: 0;
  background-color: red;
}