#services {
  margin: 0;
  overflow-y: auto; 
  position: relative;
  background-color: transparent;
  -ms-overflow-style: none; 
  display: flex;
  text-align: center;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;

} 
#services::-webkit-scrollbar {
  display: none;
}


.card{
  border: none;
}

.service-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns on desktop */
  padding: 16px;
  gap: 5%;
}
.service-grid-item {
  background-color: transparent;
  text-align: center;
  border-radius: 8px;
  height: 70vh;
  background-image: url(../images/About_1.svg);
  background-size: cover;
  /* border: none; */
  background-position: center;
  position: relative;
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.service-grid-item::after{
  content: "";
  position: absolute;
  /* border: 2px solid red; */
  /* z-index: 40; */
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  /* background-color: black; */
  
}

/* Responsive layout for mobile (1 column) */
@media (max-width: 768px) {
  .service-grid-container {
    grid-template-columns: 1fr; /* 1 column on small screens */
    gap: 2% ;
  }
  .service-grid-item {
  
    background-color: transparent;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 50vh;
    background-image: url(../images/About_1.svg);
    padding: 0.25rem 1.5rem;

    border: none;

  }
  
}





.cardM {
  background-repeat: no-repeat;
  background-size: contain;
}
.cardL{

  background-repeat: no-repeat;
  background-size: contain;
}
 .cardR{
  
  background-repeat: no-repeat;
  background-size: contain;
}
