#speakers{
    background-color: black;
}
.main-page-speaker-card img{
    width: 230px;
}

@media screen and (max-width:600px) {
    .main-page-speaker-section-heading {
        font-size: 50px;
    }
    .main-page-speaker-card{
        margin-bottom: 20px;
    }
    .main-page-speaker-section-content {
        width: 80%;
        padding-bottom:0px ;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.main-page-speaker-section-content {
    width: 80%;
    padding-bottom:20px ;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.speaker-see-more{
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
    border: 1px solid #545454;
    opacity: 0.8;
    background: #ffffff;
    /* box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.25); */
    width: 182px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}
.speaker-see-more a{
    background: linear-gradient(to right, purple, magenta);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}




