

/* 
==========
workshops
==========
 */
 #workshops{
    height: 98vh;
    overflow: hidden;
    padding-bottom: 2rem;
    position: relative;

 }


 .workshop_heading{

 }

.current{
    transform: scale(1.2);
    height: 220px !important;
    width: 220px !important;
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out, width 0.3s ease-in-out;
    transition-delay: 300ms;

 }
.w_button_position{
   position: absolute;
   left: 50%;
   bottom: 25%;
   transform: translate(-50%, -50%);

}

 .carousel{
    padding-top: 2rem;
    position: relative;
    top: 15vh;
    display: flex;
    justify-content: center;
    align-items:center;
    
 }
 .carousel-container{
    top : 40%;
    width: 150vh;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: rotate 1s;
    border-radius: 100%;  
 }

 .items{ 
    position: relative;
    background: #f0f0f0;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    position: absolute;
    align-items: center;
    overflow: hidden;
    transform:
    RotateZ(calc((var(--position) - 1) *(-360 / var(--quantity)) * 1deg))
    translateY(-75vh);    
    
 }
 .items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* transform: RotateZ(calc((var(--position) - 1) *(360 / var(--quantity)) * 1deg)); */
 }

 .controls{
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffdfd00 !important;

    .next, .prev{
        height: 3rem;
        width: 3rem;
        color: #320b3d;
        background-color: #ffffff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
        border-radius: 100%;
    }
 }
   
 @media screen and (max-width: 500px) {
  #workshops{
    height: 80vh;

 }


 .w_button_position{
   position: absolute;
   left: 50%;
   bottom: 10%;
   transform: translate(-50%, -50%);

}
 .controls{
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fffdfd00 !important;

    .next, .prev{
        height: 3rem;
        width: 3rem;
        color: #320b3d;
        background-color: #ffffff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 1rem;
        border-radius: 100%;
    }
 }
 }

